:root{
    --color1: #27304d;
    --color2: #354573;
    --color3: #c51142;
    --color4: #e2205a;
    --color5: #025951;
    --color6: #007469;
    --colorBlanco: #fff;
    --fondo: #f2f6fc;
}

.tips{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px;
    margin-top: 85px;
}

.tips h2{
    text-transform: uppercase;
}

.tips .card-tips{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-tips .tip-d{
    width: 700px;
    height: 300px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--colorBlanco);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
}

.tip-d .image-mascota{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tip-d .image-mascota img{
    width: 250px;
    height: auto;
    margin: 0px 20px 0px 0px;
}

.tip-d .descripcion-d{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tip-d .descripcion-d h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.tip-d .descripcion-d p{
    font-size: 1.1rem;
    margin: 0;
}

.card-tips .tip-i{
    width: 700px;
    height: 300px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: var(--colorBlanco);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
}

.tip-i .image-mascota{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tip-i .image-mascota img{
    width: 200px;
    height: auto;
    margin: 0px 0px 0px 20px;
}

.tip-i .descripcion-i{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tip-i .descripcion-i h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.tip-i .descripcion-i p{
    font-size: 1.1rem;
    margin: 0;
}

@media (max-width:700px) {
    .card-tips .tip-d{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .tip-d .image-mascota{
        width: 100%;
    }

    .tip-d .image-mascota img{
        width: 150px;
        margin: 0;
    }

    .tip-d .descripcion-d h3{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .tip-d .descripcion-d p{
        font-size: 0.8rem;
        margin: 0;
    }

    .card-tips .tip-i{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .tip-i .image-mascota{
        width: 100%;
    }

    .tip-i .image-mascota img{
        width: 100px;
        margin: 0;
    }

    .tip-i .descripcion-i h3{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .tip-i .descripcion-i p{
        font-size: 0.8rem;
        margin: 0;
    }
}